<!DOCTYPE html>
<html>
<head>
	<style>
		.box {
			border: 1px solid black; /* Add a border */
			padding: 10px; /* Add some padding */
			width: 300px; /* Set the width */
			height: 200px; /* Set the height */
			overflow: auto; /* Add scrollbars if needed */
			background-color: #f0f0f0; /* Add a background color */
		}
	</style>
</head>
<body>
    <h2>Quiz </h2>
    <h3>Namburi Pranathi</h3>
    <h3>1001967776</h3>

    <p> The Total number of characters in Box T = {{textlength}}</p>
    <p> The Total number of uppercase letters in Box T = {{upper_count}}</p>
    <p> The Total number of spaces in Box T = {{space_count}}</p>
    <p> The Total number of punctuations in Box T = {{spch_count}}</p>
    <p> The Total number of numbers in Box T = {{digit_count}}</p>
	
    <div class="box">
        <h3>Box R</h3>
		<p>{{upper_converted_text}}</p>
		<p>Count of Characters = {{textlength2}}</p>
	</div>
</body>
</html>
