<!DOCTYPE html>
<html>
  <head>
    <title>Search Form</title>
  </head>
  <body>
    <h1>Search Form</h1>
    <p>Namburi Pranathi</p>
    <p>1001967776</p>
    <form method="POST" action="/abc">
      <label for="lon_min">Minimum Longitude:</label>
      <input type="text" name="lon_min" id="lon_min"><br><br>
      <label for="lon_max">Maximum Longitude:</label>
      <input type="text" name="lon_max" id="lon_max"><br><br>
      <label for="year_min">Minimum Year:</label>
      <input type="text" name="year_min" id="year_min"><br><br>
      <label for="year_max">Maximum Year:</label>
      <input type="text" name="year_max" id="year_max"><br><br>
      <input type="submit" value="Search">
    </form>
  </body>
</html>
