<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz 4</title>
        <h2>Rohith Reddy Gurram</h2>
        <h2>1001959477</h2>
    <body>
        <h3> Question 10: </h3>
        <form action="{{ url_for("question10")}}" method="post">
            <label for="range1">Enter the first 'R' value:</label>
            <input type="number" id="range1" name="r1">
            <label for="range2">Enter the second 'R' value:</label>
            <input type="number" id="range2" name="r2">
            <label for="nval">Enter the 'N' value:</label>
            <input type="number" id="nval" name="n">
            <input type="submit" name="action"></button>
        </form>

        <h3> Question 11: </h3>
        <form action="{{ url_for("question11")}}" method="post">
            <label for="range1">Enter the first 'R' value:</label>
            <input type="number" id="range1" name="r1">
            <label for="range2">Enter the second 'R' value:</label>
            <input type="number" id="range2" name="r2">
            <label for="nval">Enter the 'N' value:</label>
            <input type="number" id="nval" name="n">
            <input type="submit" name="action"></button>
        </form>

        <h3>Magnitude Graph</h3>
        <form action="{{ url_for("scatterpage")}}" method="post">
            <input type="submit" name="action"></button>
        </form>

        <h3>Pie Chart of Magnitudes</h3>
        <form action="{{ url_for("piechart1")}}" method="post">
            <input type="submit" name="action"></button>
        </form>

        <h3>Bar Chart of Magnitudes</h3>
        <form action="{{ url_for("barchart1")}}" method="post">
            <input type="submit" name="action"></button>
        </form>
    </body>
</html>